<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-2.0.0.min.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-2.0.0.min.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-tables-2.0.0.min.css" type="text/css">


    <script src="https://cdn.pydata.org/bokeh/release/bokeh-2.0.0.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-2.0.0.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-2.0.0.min.js"></script>


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


</head>

<body>

<div class="container">
    <div class="col-xs-18 text-left">
        <div class="panel panel-primary  col-xs-10 text-center">
            <br>
            {% block main %}
            MAGIC MWL data server
            {% endblock %}
            <br>
            <br>
        </div>
    </div>

    <div class="row">
    <div class="col-xs-6 text-left">

        <br>

        <div class="panel panel-primary col-xs-6">
            <table>

                {% if paper_ids %}
                {% for (s,n) in paper_ids %}
                <tr>
                    <td align="left">{{s}}</td>
                    <td align="right">{{n}}</td>
                </tr>
                {% endfor %}
                {% endif %}

            </table>
            <br>
            <br>
        </div>
        <form method="POST" action="/show-papers">
            <table>
                <tr>
                    <td align="right"><input type="submit" value="get paper ids" ,name='get paper ids'></td>
                </tr>
            </table>

        </form>
    </div>


    <div class="col-xs-6 text-left">

        <br>
        <div class="panel panel-primary  col-xs-6">
            <table>

                {% if targets %}
                {% for (s,n) in targets %}
                <tr>
                    <td align="left">{{s}}</td>
                    <td align="right">{{n}}</td>
                </tr>
                {% endfor %}
                {% endif %}

            </table>

            <br>
            <br>
        </div>
        <form method="POST" action="/show-targets">
            <table>
                <tr>

                    <td align="left"><input type="text" name="paper_id" required>paper_id</td>
                </tr>
                <tr>
                    <td align="left"><input type="submit" value="get targets" ,name='get target'></td>
                </tr>
            </table>

        </form>


     </div>
    </div>






    <div class="row">


    <div class="col-xs-6 text-left ">

        <div class="panel panel-primary col-xs-6">

            {% if file_names %}
            {% for (f_t,f_nl) in file_names %}
            <table>
                <tr>
                    <td align="left">{{f_t}}</td>
                </tr>
                {% for f_n in f_nl %}

                <tr>
                    <td align="left">{{f_n}}</td>
                </tr>
                {% endfor %}
                <br>
            </table>
            {% endfor %}
            {% endif %}
            <br>
            <br>
        </div>
        <form method="POST" action="/search-name">
            <table>
                <tr>
                    <td align="left"><input type="text" name="target_name" required>target_name</td>
                 <tr>
                    <td align="left"><input type="text" name="paper_id" >paper_id</td>
                </tr>
                </tr>
                    <td align="left"><input type="submit" value="get file names" ,name='get file names'></td>
                </tr>
            </table>
        </form>


    </div>
    </div>
    <div class="col-xs-16 text-left">


        <div class="panel panel-primary col-xs-7    " ,id="Test">
            <div class='plot' , id="plot">
                <br>

                <br>
            </div>


        </div>

        <table>
                <tr>
                    <td align="left"><input type="text" id="file_name" required size="42">file name</td>
                </tr>
                <tr>
                    <td align="left"><input type="text" id="paper_id" required>paper_id</td>
                </tr>
                <tr>
                    <td align="left"><button id="get_plot"> Plot Target</button></td>
                </tr>
            </table>






    </div>
</div>


</body>

<script type="text/javascript">
    $(document).ready(function(){

       $("#get_plot").on("click",function(){
         var val1 = $("#file_name").val();
         var val2 = $("#paper_id").val();
         $.ajax({
          url: "/plot-target",
          type: "get",
           data: { file_name: val1, paper_id: val2},
            dataType: 'html',
            success: function(response) {
            $('.plot').html(response);
            },
            error: function(errorThrown){
            alert("There is an error with the file: missing or corrupted or not recognized");
            }
          });
       });
});


</script>


</html>